<div class="container">
  <form class="frm rounded" (ngSubmit)="agregaIngreso()">
    <div class="mb-3 row">
      <label for="id" class="col-4 col-form-label">ID</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="id"
          id="id"
          placeholder="ID"
          [(ngModel)]="nuevoingreso.id"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label for="nombre" class="col-4 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="nombre"
          id="nombre"
          placeholder="NOMBRE DEL INGRESO"
          [(ngModel)]="nuevoingreso.nombre"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label for="fecha" class="col-4 col-form-label">FECHA</label>
      <div class="col-8">
        <input
          type="date"
          class="form-control"
          name="fecha"
          id="fecha"
          [(ngModel)]="nuevoingreso.fecha"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label for="monto" class="col-4 col-form-label">MONTO DEL INGRESO</label>
      <div class="col-8">
        <input
          type="number"
          class="form-control"
          name="monto"
          id="monto"
          [(ngModel)]="nuevoingreso.monto"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">AGREGAR</button>
      </div>
    </div>
  </form>
  <h2>LISTA DE INGRESOS</h2>
  <div class="table-responsive">
    <table
      class="table table-striped table-hover table-borderless table-primary align-middle"
    >
      <thead class="table-light">
        <caption>
          INGRESOS
        </caption>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>FECHA</th>
          <th>MONTO</th>
          <th>COMANDOS</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @for(item of ingresos;track item.id){
        <tr class="table-primary">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.fecha }}</td>
          <td>{{ item.monto }}</td>
          <td>
            <button (click)="eliminar(item.id)" type="button" class="btn btn-danger btn-sm">ELIMINAR</button>
            <button (click)="editar(item.id)" type="button" class="btn btn-success btn-sm">EDITAR</button>
          </td>
        </tr>
        }
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>
